// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (c) 2024, Beijing ESWIN Computing Technology Co., Ltd.
 */

/dts-v1/;

#include "eic7700.dtsi"

/ {
	compatible = "sifive,hifive-premier-p550", "eswin,eic7700";
	model = "SiFive HiFive Premier P550";

	aliases {
		serial0 = &uart0;
		ethernet0 = &gmac0;
		ethernet1 = &gmac1;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	vcc_1v8: vcc1v8 {
		 compatible = "regulator-fixed";
		 regulator-name = "vcc1v8";
		 regulator-always-on;
		 regulator-boot-on;
		 regulator-min-microvolt = <1800000>;
		 regulator-max-microvolt = <1800000>;
	 };
};

&xtal24m {
	clock-frequency = <24000000>;
	clock-output-names = "xtal24m";
};

&pinctrl {
	status = "okay";
	vrgmii-supply = <&vcc_1v8>;

	pinctrl_gpio0: gpio0-grp {
		gpio0-pins {
			pins = "gpio0";
			function = "gpio";
			input-enable;
			bias-disable;
		};
	};

	pinctrl_gpio5: gpio5-grp {
		gpio5-pins {
			pins = "gpio5";
			function = "gpio";
			input-enable;
			bias-disable;
		};
	};

	pinctrl_gpio11: gpio11-grp {
		gpio11-pins {
			pins = "gpio11";
			function = "gpio";
			input-enable;
			bias-disable;
		};
	};

	pinctrl_gpio14: gpio14-grp {
		gpio14-pins {
			pins = "mode_set1";
			function = "gpio";
			input-disable;
			bias-pull-up;
		};
	};

	pinctrl_gpio15: gpio15-grp {
		gpio15-pins {
			pins = "mode_set2";
			function = "gpio";
			input-enable;
			bias-disable;
		};
	};

	pinctrl_gpio28: gpio28-grp {
		gpio28-pins {
			pins = "gpio28";
			function = "gpio";
			input-enable;
			bias-disable;
		};
	};

	pinctrl_gpio43: gpio43-grp {
		gpio43-pins {
			pins = "usb1_pwren";
			function = "gpio";
			input-disable;
			bias-disable;
		};
	};

	pinctrl_gpio71: gpio71-grp {
		gpio71-pins {
			pins = "mipi_csi0_xhs";
			function = "gpio";
			input-disable;
			bias-pull-up;
		};
	};

	pinctrl_gpio74: gpio74-grp {
		gpio74-pins {
			pins = "mipi_csi1_xhs";
			function = "gpio";
			input-disable;
			bias-pull-up;
		};
	};

	pinctrl_gpio76: gpio76-grp {
		gpio76-pins {
			pins = "mipi_csi2_xvs";
			function = "gpio";
			input-disable;
			bias-disable;
		};
	};

	pinctrl_gpio77: gpio77-grp {
		gpio77-pins {
			pins = "mipi_csi2_xhs";
			function = "gpio";
			input-disable;
			bias-pull-up;
		};
	};

	pinctrl_gpio79: gpio79-grp {
		gpio79-pins {
			pins = "mipi_csi3_xvs";
			function = "gpio";
			input-disable;
			bias-disable;
		};
	};

	pinctrl_gpio80: gpio80-grp {
		gpio80-pins {
			pins = "mipi_csi3_xhs";
			function = "gpio";
			input-disable;
			bias-pull-up;
		};
	};

	pinctrl_gpio82: gpio82-grp {
		gpio82-pins {
			pins = "mipi_csi4_xvs";
			function = "gpio";
			input-disable;
			bias-pull-up;
		};
	};

	pinctrl_gpio84: gpio84-grp {
		gpio84-pins {
			pins = "mipi_csi4_mclk";
			function = "gpio";
			input-disable;
			bias-disable;
		};
	};

	pinctrl_gpio85: gpio85-grp {
		gpio85-pins {
			pins = "mipi_csi5_xvs";
			function = "gpio";
			input-disable;
			bias-pull-up;
		};
	};

	pinctrl_gpio94: gpio94-grp {
		gpio94-pins {
			pins = "s_mode";
			function = "gpio";
			input-disable;
			bias-disable;
		};
	};

	pinctrl_gpio106: gpio106-grp {
		gpio106-pins {
			pins = "gpio106";
			function = "gpio";
			input-disable;
			bias-disable;
		};
	};

	pinctrl_gpio111: gpio111-grp {
		gpio111-pins {
			pins = "gpio111";
			function = "gpio";
			input-disable;
			bias-disable;
		};
	};
};

&gmac0 {
	phy-handle = <&gmac0_phy0>;
	phy-mode = "rgmii-id";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gpio106>;
	rx-internal-delay-ps = <20>;
	tx-internal-delay-ps = <100>;
	status = "okay";
};

&gmac0_mdio {
	gmac0_phy0: ethernet-phy@0 {
		compatible = "ethernet-phy-id001c.c916";
		reg = <0>;
		reset-gpios = <&gpioD 10 GPIO_ACTIVE_LOW>;
		reset-assert-us = <10000>;
		reset-deassert-us = <80000>;
	};
};

&gmac1 {
	phy-handle = <&gmac1_phy0>;
	/*
	 * For the TX path of gmac1, there is a skew between the TX clock
	 * and data on the MAC controller inside the silicon. This skew happens
	 * to be approximately 2 ns. Therefore, it can be considered that the
	 * 2 ns delay of TX is provided by the MAC.
	 * No delay configuration for tx is needed in software via PHY driver.
	 */
	phy-mode = "rgmii-rxid";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gpio111>;
	rx-internal-delay-ps = <200>;
	tx-internal-delay-ps = <200>;
	status = "okay";
};

&gmac1_mdio {
	gmac1_phy0: ethernet-phy@0 {
		compatible = "ethernet-phy-id001c.c916";
		reg = <0>;
		reset-gpios = <&gpioD 15 GPIO_ACTIVE_LOW>;
		reset-assert-us = <10000>;
		reset-deassert-us = <80000>;
	};
};

&uart0 {
	status = "okay";
};

&uart2 {
	status = "okay";
};
